@tailwind base;
@tailwind components;
@tailwind utilities;






:root {
  --page-bg: #FFEBD8;
  --page-color: black;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --page-bg: #FFEBD8;
    --page-color: black;
    
  }
} */

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg: black;
    --page-color: white;
    
  }
}

body {
  color: var(--page-color);
  background: var(--page-bg);
}
